body{
    font-family: Arial,sans-serif;
    margin: 20px;
}
.block_example{
    color: white;
    background-color:#3498db;
    padding: 10px;
    margin: 5px 0;;  
}
.inline_example a{
    text-decoration: none;
    background-color:#24f544;
    margin: 5px;
    padding: 5px;
    color: white;
}
.inlet a{
    text-decoration:none;
    padding: 10px;
    color: white;
    background-color: #9b59b6;
    margin: 10px;
    padding: 1opx;
}
.float_example a{
    text-decoration: none;
    background-color: #e67e22;
    color: white;
    margin: 5px;
    padding: 10px 15px;

}